  <div = class="video-section">
    <iframe class="video" src="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2Fmatthias.cordes%2Fvideos%2Fvb.100000136931834%2F1233043556710197%2F%3Ftype%3D3&show_text=0&width=560" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allowFullScreen="false"></iframe>
  </div>

  <div class="description">
    <div class="container">
      <h2>Hello, everybody!</h2><br>
      <h3>I am a Creative Technologist at the University of Twente in the Netherlands. On this website I will not only keep you informed about my current technology projects, but also about my work as a freelance filmmaker and designer.</h3><br>
    </div>
  </div>

  <div class="service">
    <div class="colcontainer">

      <h2>This is what I do</h2><br>
        
      <div class="col-3">
        <i class="fa fa-lightbulb-o fa-3x" aria-hidden="true"></i>
        <h5>Technology</h5>
        <div class="text_wrapper">
          <h3>As a creative technologist and like to work on any kind of projects realating technology.</h3>  
        </div>        
        <a><%= link_to "SHOW PROJECTS", projects_path, :class => "btn"%></a>
      </div>

      <div class="col-3">
        <i class="fa fa-camera-retro fa-3x" aria-hidden="true"></i>
        <h5>Film</h5>
        <div class="text_wrapper">
          <h3>One of my passions is to create great videos. For example Commercials, Animations or music videos.</h3>
        </div>
        <a><%= link_to "SHOW PROJECTS", projects_path, :class => "btn"%></a>
      </div>

      <div class="col-3">
        <i class="fa fa-pencil fa-3x" aria-hidden="true"></i>
        <h5>Design</h5>
        <div class="text_wrapper">
          <h3>From simple business cards to complex responsive websites, I can help you out.</h3>
        </div>
        <a><%= link_to "SHOW PROJECTS", projects_path, :class => "btn"%></a>
      </div>

    </div>
  </div>

  <div class="description">
    <div class="post-wrapper"> 
      <h2> My Latest Projects </h2>
      <div class= "colcontainer" >
        <% @projects.each do |project| %>
        <div  class= "project-col-3">

          <a href="artcile_show.html">
          <%= link_to( image_tag(project.image.url(:thumb)), project) %>
          </a>

          <h2><a href="artcile_show.html">
            <%= link_to project.title, project %> 
          </a></h2>

        </div>
        <% end %> <br>
        <a><%= link_to "SHOW MORE", projects_path, :class => "btn" %></a>
      </div>
    </div>
  </div>

