
<div class="article">
	  <div class="post-wrapper">
      	<div class="headline">
          	<p class="date"><%= @post.created_at.strftime('%A, %B %d')%></p>
          	<h1><%= @post.title %></h1>
      	</div>
      	<hr>
        <div class="content" id="post_show_content">
      	    <%= markdown @post.content %>
      	</div>

      	<a onclick="javascript:window.open('http://facebook.com/sharer.php?u= <%= url_for ([@post, {only_path: false}]) %>', '_blank', 'width=800, height=500, top=200, left=300');void(0);"><i class="fa fa-facebook" aria-hidden="true"></i></a>
        <hr>

      <div class="btn">
              <%= link_to "Delete Article", post_path(@post), method: :delete%>

      </div>


        <div id="disqus_thread"></div>



        <script>
            (function() {  // DON'T EDIT BELOW THIS LINE
                var d = document, s = d.createElement('script');
                
                s.src = '//matthiasblog.disqus.com/embed.js';
                
                s.setAttribute('data-timestamp', +new Date());
                (d.head || d.body).appendChild(s);
            })();
        </script>
        <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>

    </div>
</div>