<!DOCTYPE html>
<html>
  <head>
  	<title>Matthias Cordes | Your Creative Partner</title>
  	<link href='//fonts.googleapis.com/css?family=Oxygen:400,300,700' rel='stylesheet' type='text/css'>
  	<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0" />
  	<meta name="theme-color" content="#ffffff">
  	<meta charset="utf-8"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="//use.fontawesome.com/90eb5d7563.js"></script>
    <%= favicon_link_tag 'favicon.ico' %>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <script>
      $(document).ready(function(){
        $('#show').click(function(){
          $('ul').toggleClass('show');
        });
      });
    </script>

  </head>


  <body>
    <header>
        <%= link_to( image_tag("logo.png"), root_path) %>
        <h1><%= link_to "Matthias Cordes", root_path, :class => "h1" %></h1>
        <ul>
          <li><%= link_to 'Contact', contact_index_path, :class => "header" %></li>
          <li><%= link_to "Blog", posts_path, :class => "header" %></li>
          <li><%= link_to "Projects", projects_path, :class => "header" %></li>
        </ul>
        <div class="button">
          <a href="#" id="show"><%=image_tag("sidebar.png") %></a>  
        </div>
    </header>

    <%if notice %>
      <p class="notice"> <%= notice %><p>
    <% elsif alert %>
      <p class="alter"> <%= alert %><p>
    <% end %>

    <%= yield %>

    <footer class="footer">
      <h5> Connect </h5>
      <%= image_tag("icon.png") %>
      <a href="mailto:mail@matthiascordes.com">mail@matthiascordes.com</a>
      <p> +49 15787371779</p>
      <a href="http://facebook.com/matthiascordes" target="_blank" ><i class="fa fa-facebook-official fa-2x" aria-hidden="true"></i></a>
      <a href="https://www.instagram.com/m_cordes_/" target="_blank" ><i class="fa fa-instagram fa-2x" aria-hidden="true"></i></a>
      <a href="https://nl.linkedin.com/in/matthiascordes" target="_blank"><i class="fa fa-linkedin fa-2x" aria-hidden="true"></i></a>
      <p id="copyright"> &copy 2016 Matthias Cordes</p>  
    </footer>
  </body>
</html>
